/* Your CSS goes here */
#main {
  text-align: center;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#cover {
  background: url("../images/spinner.gif") no-repeat scroll center center #344557;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
}

#close {
  position: absolute;
  top: 90px;
  right: 0;
  width: 64px;
  height: 64px;
  overflow: hidden;
}
#close img {
  width: 100%;
}

#speed {
  font-size: 8em;
  line-height: .8em;
}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
}

#circle {
  position: relative;
  top: 100px;
  left: 20px;
}
